<div class="hm">
  <div class="container-fluid mt-5">
    <form>
      <div class="row pt-3">

        <div class="col-md-4"></div>

        <div class="col-md-4">

          <div class="card input-group-addon">
            <div class="card-body">

              <!-- Header -->
              <h3 class="text-center text-primary mb-4">
                <span *ngIf="!form.data.id">Add Subject</span>
                <span *ngIf="form.data.id > 0">Update Subject</span>
              </h3>

              <!-- Message -->
              <div class="text-center mb-3">
                <h5 class="text-success" *ngIf="!form.error && form.message">{{ form.message }}</h5>
                <h5 class="text-danger" *ngIf="form.error && form.message">{{ form.message }}</h5>
              </div>

              <!-- Name -->
              <div class="mb-3">
                <label><b>Name *</b></label>
                <input type="text" class="form-control"
                       name="name"
                       [(ngModel)]="form.data.name"
                       placeholder="Enter Subject Name">
                <small class="text-danger">{{form.inputerror.name}}</small>
              </div>

              <!-- Course -->
              <div class="mb-3">
                <label><b>Course *</b></label>
                <select class="form-control"
                        name="courseId"
                        [(ngModel)]="form.data.courseId">
                  <option value="">------------Select------------</option>
                  <option *ngFor="let obj of form.preload.courseList"
                          [value]="obj.key">
                    {{obj.value}}
                  </option>
                </select>
                <small class="text-danger">{{form.inputerror.courseId}}</small>
              </div>

              <!-- Description -->
              <div class="mb-3">
                <label><b>Description *</b></label>
                <textarea class="form-control"
                          name="description"
                          [(ngModel)]="form.data.description"
                          rows="3"
                          placeholder="Enter Short description"
                          style="resize: none;">
                </textarea>
                <small class="text-danger">{{form.inputerror.description}}</small>
              </div>

              <!-- Buttons -->
              <div class="text-center mt-4">
                <button type="button"
                        class="btn btn-success me-2"
                        (click)="submit()">Save</button>

                <button type="button"
                        class="btn btn-warning me-2"
                        (click)="forward('subjectlist')">List</button>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-4"></div>

      </div>
    </form>
  </div>
</div>


<style>
    i.css {
        border: 2px solid #8080803b;
        padding-left: 10px;
        padding-bottom: 11px;
        background-color: #565651;
    }

    .input-group-addon {
        box-shadow: 9px 8px 7px #01b897;
    }

    .hm {
        background-image: url('assets/image/addUser.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 75px;
        min-height: 100vh;
    }

    .grey-text {
        color: #878787;
    }

    .default-text {
        font-weight: 600;
    }
</style>