.form-bg {
  min-height: calc(100vh - 30px);
  margin-top: 10px;
  background: url('/assets/image/addStudent.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

 

/* card */
.form-card {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}