<app-navbar></app-navbar>

<div class="list-bg container-fluid pt-4">

  <h2 class="text-center  mb-3">Marksheet List</h2>

  <!-- Messages -->
  <div class="text-center mb-3">
    <div *ngIf="form.message"
         class="alert d-inline-block"
         [ngClass]="form.error ? 'alert-danger' : 'alert-success'">
      {{ form.message }}
    </div>
  </div>

  <!-- Search Section -->
  <div class="row justify-content-center mb-3">

    <!-- Roll No -->
    <div class="col-md-3">
      <input type="text"
             class="form-control form-control-sm"
             [(ngModel)]="form.searchParams.rollNo"
             placeholder="Search by Roll No">
    </div>

    <!-- Student -->
    <div class="col-md-3">
      <select class="form-control form-control-sm"
              [(ngModel)]="form.searchParams.studentId">
        <option value="">Select Student</option>
        <option *ngFor="let obj of form.preload.studentList" [value]="obj.key">
          {{obj.value}}
        </option>
      </select>
    </div>

    <!-- Buttons -->
    <div class="col-md-3 text-center">
      <button class="btn btn-primary btn-sm me-2" (click)="search()">Search</button>
      <button class="btn btn-dark btn-sm" (click)="reset()">Reset</button>
    </div>

  </div>

  <div *ngIf="form.list.length > 0">

    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center align-middle shadow">

        <thead class="table-secondary">
          <tr>
            <th>
              <input type="checkbox" [(ngModel)]="isMasterSel"
                     (change)="checkUncheckAll($event)" />
            </th>
            <th>S.No</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>Physics</th>
            <th>Chemistry</th>
            <th>Maths</th>
            <th>Total</th>
            <th>%</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let m of form.list; let i = index">
            <td>
             <input type="checkbox"
             #checkboxes
             (change)="checklistUpdate()"
             [id]="m.id">
            </td>
            <td>{{(form.pageNo*5)+i+1}}</td>
            <td>{{m.rollNo}}</td>
            <td>{{m.name}}</td>
            <td>{{m.physics}}</td>
            <td>{{m.chemistry}}</td>
            <td>{{m.maths}}</td>

            <!-- Calculated Fields 🔥 -->
            <td>{{m.physics + m.chemistry + m.maths}}</td>
            <td>{{ ((m.physics + m.chemistry + m.maths)/3) | number:'1.0-2' }}%</td>

            <td>
              <button class="btn btn-info btn-sm text-white"
                      (click)="forward('/marksheet/' + m.id)">
                Edit
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <!-- Buttons -->
    <div class="row mt-3">

      <div class="col-md-3">
        <button class="btn btn-warning btn-sm"
                (click)="previous()"
                [disabled]="form.pageNo == 0">
          Previous
        </button>
      </div>

      <div class="col-md-3 text-center">
        <button class="btn btn-primary btn-sm"
                (click)="forward('/marksheet')">
          New
        </button>
      </div>

      <div class="col-md-3 text-center">
        <button class="btn btn-danger btn-sm"
                (click)="deleteMany()">
          Delete
        </button>
      </div>

      <div class="col-md-3 text-end">
        <button class="btn btn-warning btn-sm"
                (click)="next()"
                [disabled]="form.nextListSize == 0">
          Next
        </button>
      </div>

    </div>

  </div>

  <!-- No Data -->
  <div *ngIf="form.list.length == 0" class="text-center mt-4">
    <button class="btn btn-primary btn-sm" (click)="reset()">Back</button>
  </div>

</div>